{% extends 'flatpages/default.html' %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Новости Алдын-Кушкаш</h1>
    <a href="#">Добавить новую запись</a>
    <hr>
    {% if posts %}
        <ul class="list-unstyled">
            {% for post in posts %}
                <li class="media my-5 p-3 border">
                    <div>
                        <h2><a href="{% url 'news:post_detail' post.id %}">{{ post.title }}</a></h2>
                        <div>{{post.content | truncatewords:20 }}</div>
                        <p class="text-right font-italic">{{ post.created }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}
{% endblock content %}
