{% extends "flatpages/default.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% if post.image %}
                <div class="col-md-auto"><img class="main-image" src="#{{ post.image.url }}" alt="Изображение"></div>
            {% endif %}
            <div class="col">
                <h1>{{ post.title }}</h1>
                <p>{{ post.text }}</p>
                <a href="#"><u>Редактировать</u></a>
                <a href="#"><u> Удалить </u></a>
                <p class="text-right font-italic">Добавлено {{ post.created }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
