{% extends "flatpages/default.html" %}

{% load static %}

{% block title %}Магазин{% endblock %}

{% block content %}
    <div class="cart">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Магазин Алдын-Кушкаш</a>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Корзина
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
    <!-- <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart:
                    <a href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div> -->
    <div id="content">
        {% block shopcontent %}
        {% endblock shopcontent %}
    </div>
{% endblock content %}